fieldset {
    @apply text-center last-of-type:mt-3 border-2 border-neutral-700 rounded-custom p-3;
    @apply md:grid md:grid-cols-2 md:justify-start;
}

legend {
    @apply px-3
}

.form-field {
    @apply box-border m-3
}

input, textarea, .custom-file-input {
    @apply w-full box-border bg-neutral-700 p-3 outline-none border-b-2 transition-300;
    @apply hover:bg-neutral-600 focus-visible:outline-none focus:border-b-primary;
    @apply disabled:bg-neutral-700 disabled:border-neutral-500;
}

.form-field.error {
    input, textarea, .custom-file-input {
        @apply border-b-error rounded-t-custom;
    }
}

.form-field:not(.error) {
    input, textarea, .custom-file-input {
        @apply rounded-custom;
    }
}

input[type="file"] {
    @apply absolute opacity-0 -z-10;
}

img {
    &.profile {
        width: 400px;
        height: 484px;
    }

    &.news {
        width: 960px;
        height: 540px;
    }
}

.error-message {
    @apply px-3 py-1 m-0 rounded-b-custom bg-dark-grey text-error flex flex-row gap-3 items-center;
}
