@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "animations.css";
@import "menu.css";

@font-face {
    font-family: Cabin;
    font-display: auto;
    src: url("@/assets/font/cabin/Cabin-Regular.ttf");
}

@font-face {
    font-family: Cabin;
    font-display: auto;
    font-weight: bold;
    src: url("@/assets/font/cabin/Cabin-Bold.ttf");
}

body {
    background-image: url("@/assets/img/background.jpg");
}

h1 {
    @apply text-3xl md:text-5xl text-center mx-auto uppercase first-letter:text-primary leading-[83px] md:leading-[83px] mb-10;
}

h2 {
    @apply uppercase text-3xl mb-3 leading-[83px];
}

h3 {
    @apply text-xl;
}

h1::before, h2::before {
    content: url("@/assets/img/title-icon.png");
    width: 37px;
    height: 83px;
    @apply bg-center bg-no-repeat float-left;
}

p {
    @apply mb-3;
}

.shadow-white-double {
    box-shadow: rgba(255, 255, 255, 0.2) 2px 2px, rgba(255, 255, 255, 0.1) 4px 4px;
}

.rounded-custom {
    @apply rounded-md
}

.rounded-b-custom {
    @apply rounded-b-md
}

.rounded-t-custom {
    @apply rounded-t-md
}
